
.Page-main {
   /* width: min(100%, min(695px, 100vh*(var(--ratio))));
   height: min(100%, min(842px, 100vh*(var(--ratio)))); */
   --ratio: 695 / 842;
   aspect-ratio: var(--ratio);
   width: min(100%, 695px);
   height: min(100%, 842px);
   margin: 20px auto;
   padding: min(10%, 40px);
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
      0 1px 18px 0 rgba(0, 0, 0, 0.12),
      0 3px 5px -1px rgba(0, 0, 0, 0.20);
}